@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Marko Antonijevic<br />
    <a href="mailto:markoantonijevic@yahoo.com">markoantonijevic@yahoo.com</a><br/>
    <abbr title="Phone">P:</abbr>
    +48 733 081 912
</address>